#root {
  width: 100%;
  text-align: center;
  svg {
    border: 1px solid black;
    width: 600px;
    height: 600px;
    #background {
      cursor: crosshair;
    }
    circle, rect {
      cursor: pointer;
    }
  }
}